.prayer {
  padding: 1rem;
  border: 1px solid var(--c-border);
  border-radius: var(--border-radius-md);
  min-width: 30rem;
  max-width: fit-content;
  margin-inline: auto;
}

.title {
  font-size: 1.25rem;
  text-align: center;
}

.header, 
.footer {
  margin: 0.5rem;
}
  .main {
  margin: 1rem;
}