
.container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.circle {
  display: inline-block;
  border-radius: 9999px;
  box-sizing: border-box;
  width: 1rem;
  height: 1rem;
}

.filled {
  background-color: var(--c-text);
  border: 0.0625rem solid rgba(0,0,0,0.04);
}

.empty {
  background-color: transparent;
  border: 0.125rem solid var(--c-text);
}