:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: dark light;
  
  --c-black: #000000;
  --c-white: #ffffff;
  --c-gray-100: #f7fafc;
  --c-gray-200: #edf2f7;
  --c-gray-300: #e2e8f0;
  --c-gray-400: #cbd5e0;
  --c-gray-500: #a0aec0;
  --c-gray-600: #718096;
  --c-gray-700: #4a5568;
  --c-gray-800: #2d3748;
  --c-gray-900: #1a202c;
  
  --c-background: light-dark(var(--c-white), var(--c-gray-900));
  --c-text: light-dark(var(--c-gray-900), var(--c-gray-100));
  --c-border: light-dark(var(--c-gray-300), var(--c-gray-700));

  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 0.75rem;

}

body {
  background-color: var(--c-background);
  min-width: 320px;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100vh;
}
